button, .button {
  display: inline-block;
  background-color: $btn-color-default;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    background-color: darken($btn-color-default, 10%);
  }

  span {
    display: block;
    padding: 20px 30px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.05em;
    text-shadow: 0 1px 1px rgba(black, 0.1);
  }
}