#game-container {
  position: relative;
  background-image: url('../images/bg/main-bg.png');
  background-size: cover;
  height: $canvas-height + $hud-container-height;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}

#pages {
  position: absolute;
  left: -$canvas-width;
}

#main-game {
  position: absolute;
  left: $canvas-width;
  width: $canvas-width;
  height: 100%;
}

#canvas_holder {
  position: relative;
  width: 100%;
  height: $canvas-height;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    @include full-size;
  }
}