.clearfix {
  @include clearfix;
}

$seg-list: (2,3,4,5,6,7,8);

@each $seg-item in $seg-list {
  .w_pr-#{$seg-item} {
    width: (100%/$seg-item)
  }
}

@each $seg-item in $seg-list {
  .h_pr-#{$seg-item} {
    height: (100%/$seg-item)
  }
}