@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,700);

// orbitron

@font-face {
  font-family: 'Orbitron';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/orbitron/medium/orbitron-medium-webfont.eot');
  src: url('../fonts/orbitron/medium/orbitron-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/orbitron/medium/orbitron-medium-webfont.woff') format('woff'),
       url('../fonts/orbitron/medium/orbitron-medium-webfont.ttf') format('truetype'),
       url('../fonts/orbitron/medium/orbitron-medium-webfont.svg') format('svg');
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Orbitron';
    font-weight: 300;
    src: url('../fonts/orbitron/medium/orbitron-medium-webfont.svg') format('svg');
  }
}

@font-face {
  font-family: 'Orbitron';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/orbitron/bold/orbitron-bold-webfont.eot');
  src: url('../fonts/orbitron/bold/orbitron-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/orbitron/bold/orbitron-bold-webfont.woff') format('woff'),
       url('../fonts/orbitron/bold/orbitron-bold-webfont.ttf') format('truetype'),
       url('../fonts/orbitron/bold/orbitron-bold-webfont.svg') format('svg');
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Orbitron';
    font-weight: 600;
    src: url('../fonts/orbitron/bold/orbitron-bold-webfont.svg') format('svg');
  }
}
