footer {
  @include clearfix;
  margin-top: 20px;
  padding: 0 20px;
  text-align: center;

  .actions {
    margin-top: 20px;
  }
}

#hud-timer {
}

#clock {
  display: inline-block;
  line-height: 70px;
  font-size: 70px;
  color: rgba(white, 0.7);
  font-weight: 100;
}