#hud-container {
  padding: $hud-padding 0;
  background-color: rgba(0, 0, 0, 0.45);

  * {
    color: #fff;
  }
}

#hud {
  height: $hud-height;
  padding-left: 20px;
  padding-right: 20px;
}

.hud-column {
  float: left;
  width: 45%;
  height: 70px;
  margin: 0 2.5%;
  padding-left: 90px;
  background-size: auto 100%;
  background-position: center left;
  background-repeat: no-repeat;

  ul {
    @include clearfix;

    li {
      display: block;
      float: left;
    }
  }

  &.column-sentinel {
    background-image: url(../images/bg/player-sentinel.png);
  }

  &.column-destroyer {
    background-image: url(../images/bg/player-destroyer.png);
  }
}

.profile {
  margin-bottom: 7px;
  font-family: $font-title;

  .score {
    float: right;
  }
}

.health {
  margin-bottom: 11px;

  .health-bar {
    position: relative;
    height: 7px;
    background-color: rgba(255, 255, 255, 0.35);

    .level {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: #6BED71; // health > 50%

      &.medium {
        background-color: #F2DF59; // 15% < health <= 50%
      }

      &.low {
        background-color: #F95844; // health <= 15%
      }
    }
  }
}

.cargo {

  span {
    display: block;
    float: left;
    height: 25px;
  }

  .letterbox {
    float: none;

    .letter {
      display: block;
      width: 25px;
      margin-right: 11px;
      text-align: center;
      line-height: 23px;
      font-weight: 100;
      border: 1px solid white;

      &.red {
        -webkit-animation: bad-letters .25s linear 0s 4 alternate;
      }

      @for $i from 1 through 3 {
        &.mul-#{$i}x {
          border-color: nth($multi-border-color, $i);
          color: nth($multi-border-color, $i);
          -webkit-animation: new-letter-#{$i}x 1.75s linear 0s 1;
        }
      }
    }

    #latest-words-container {
      position: absolute;
      top: 0;
      right: 0;
      color: white;
      z-index: 2;
      opacity: 0.6;

      .player-name {
      }

      .points.exact {
        color: $color-triple;
      }
    }
  }

  .weapons {
    float: right;
    margin-right: -2px;

    span {
      opacity: 0.35;
      margin-left: 10px;
      padding: 2px;

      i {
        display: block;
        width: 30px;
        height: 21px;
        background-image: url(../images/sprites/hud/weapons.png);
        background-size: cover;

        &.turret {
          background-position: 0 0;
        }

        &.cannon {
          background-position: 0 100%;
        }
      }

      &.active {
        opacity: 1;
      }
    }
  }
}

#hud-charts {
  float: left;
  width: 40%;
  padding-right: 100px;
}