@for $i from 1 through 3 {

  @-webkit-keyframes new-letter-#{$i}x {

    0% {
      border-color: lime;
      color: lime;
      opacity: 0;
    }

    20% {
      opacity: 1;
    }

    80% {
      border-color: lime;
      color: lime;
    }

    100% {
      border-color: nth($multi-border-color, $i);
      color: nth($multi-border-color, $i);
    }
  }
}

@-webkit-keyframes bad-letters {

  0% {
    border-color: red;
  }

  100% {
    border-color: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.4);
  }
}

