@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  & {
    *zoom: 1;
  }
}

@mixin full-size() {
  width: 100%;
  height: 100%;
}

@mixin w_pr($i) {
  .w_pr-#{$i} { width: 100%/$i; }
}