* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: $canvas-width;
  margin: 0 auto;
  background-color: black;
  font-family: $font-body;
  -webkit-font-smoothing: antaliased !important;
}

p {
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

button {
  border: none;
}