body.splash {
  text-align: center;

  * {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  h1 {
    font-family: 'Orbitron Bold';
    color: #fff;
    margin: 40px 0 20px;
  }

  p {
    font-size: 18px;
    color: #93D3E2;
  }

  #splash-wrapper {
    position: relative;
    z-index: 1;
    padding: 80px 120px;
  }

  #container-blur {
    position: absolute;
    top: -100px;
    bottom: -100px;
    left: -100px;
    right: -100px;
    -webkit-filter: blur(15px);

    img {
      width: 100%;
      height: 100%;
    }
  }
}

body#splash-index {

  .actions {

    ul {
      display: inline-block;
      margin-top: 80px;
    }

    li {
      float: left;
      margin: 0 40px;
    }

    img {
      display: block;
      height: 150px;
    }
  }
}

#logo {

  img {
    width: 450px;
  }
}

body#splash-whatisalphabots {

  * {
    text-shadow: none;
  }

  .letterblock {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    text-align: center;
    color: #fff;

    h3 {
      margin: 12px 0 0 -3px;
      font-size: 34px;
    }

    span {
      position: absolute;
      bottom: 8px;
      right: 8px;
      display: block;
      text-align: right;
      font-weight: 700;
      font-size: 12px;
    }

    @for $i from 1 through 3 {
      &.mul-#{$i}x {
        color: nth($multi-border-color, $i);
        border-color: nth($multi-border-color, $i);
      }
    }
  }
}