//// GLOBAL

// fonts
$font-body: 'Roboto', Helvetica Neue, Helvetica, sans-serif;
$font-title: 'Orbitron', Helvetica Neue, Helvetica, sans-serif;



//// SIZES

// canvas
$canvas-width: 1280px;
$canvas-height: 640px;

// hud
$hud-height: 70px;
$hud-padding: 25px;
$hud-container-height: ($hud-height + $hud-padding*2);



//// COLORS

// buttons
$btn-color-default: #34B8F2;

// letters
$color-single: #dddddd;
$color-double: #E7B125;
$color-triple: #EE3F3F;
$multi-border-color: $color-single $color-double $color-triple;